<div class="addContainer">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <img [src]='advanceTable.img' alt="avatar">
          <div class="modal-about">
            <div class="font-weight-bold p-t-5 font-17">
              {{dialogTitle}}</div>
          </div>
        </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="fName">
              <mat-icon matSuffix>face</mat-icon>
              <mat-error *ngIf="advanceTableForm.get('fName').hasError('required')">
                Nombre es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>apellido</mat-label>
              <input matInput formControlName="lName">
              <mat-icon matSuffix>face</mat-icon>
              <mat-error *ngIf="advanceTableForm.get('lName').hasError('required')">
                Apellido es requerido
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="m-b-20">
              <mat-label class="msr-3">Activo:</mat-label>
              <mat-radio-group aria-label="Select active" formControlName="active" required>
                <mat-radio-button value="si">Si</mat-radio-button>
                <mat-radio-button value="no">No</mat-radio-button>
                <mat-error *ngIf="advanceTableForm.get('active').hasError('required')">
                  Select active
                </mat-error>
              </mat-radio-group>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Correo</mat-label>
              <input matInput formControlName="email" required>
              <mat-icon matSuffix>email</mat-icon>
              <mat-error
                *ngIf="advanceTableForm.get('email').hasError('required') || advanceTableForm.get('email').touched">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>
          </div>          
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Telefono</mat-label>
              <input matInput formControlName="mobile" type="number">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-error *ngIf="advanceTableForm.get('mobile').hasError('required')">
                Mobile is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width " appearance="outline">
              <mat-label>Centro de operaciones</mat-label>
              <mat-select formControlName="operationCenter" required>
                <mat-option [value]="'Usa'">
                  Usa
                </mat-option>
                <mat-option [value]="'Bogota'">
                  Bogota
                </mat-option>
                <mat-option [value]="'Palmira'">
                  Palmira
                </mat-option>
                <mat-option [value]="'Ibague'">
                  Ibague
                </mat-option>
                <mat-option [value]="'Cali'">
                  Cali
                </mat-option>
                <mat-option [value]="'Cartagena'">
                  Cartagena
                </mat-option>
                <mat-option [value]="'other'">
                  Other
                </mat-option>
              </mat-select>
              <mat-error *ngIf="advanceTableForm.get('operationCenter').hasError('required')">
                Country Name is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width " appearance="outline">
              <mat-label>Rol</mat-label>
              <mat-select formControlName="rol" required>
                <mat-option [value]="'Tecnico'">
                  Tecnico
                </mat-option>
                <mat-option [value]="'Supervisor'">
                  Supervisor
                </mat-option>              
              </mat-select>
              <mat-error *ngIf="advanceTableForm.get('operationCenter').hasError('required')">
                Rol es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width " appearance="outline">
              <mat-label>Cargo</mat-label>
              <mat-select formControlName="charge" required>
                <mat-option [value]="'Supervisor operaciones 2'">
                  Supervisor operaciones 2
                </mat-option>
                <mat-option [value]="'Tecnico intalaciones'">
                  Tecnico intalaciones
                </mat-option>
               
              </mat-select>
              <mat-error *ngIf="advanceTableForm.get('operationCenter').hasError('required')">
                Cargo es requerido
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row">
              <button mat-raised-button color="primary"  [disabled]="!advanceTableForm.valid"
               (click)="confirmAdd()">Guardar</button>
              <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Volver</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  